.icon-group_alt:before {
  content: "\e900";
}

.icon-group:before {
  content: "\e901";
}

.icon-id_card:before {
  content: "\e902";
}

.icon-user_check:before {
  content: "\e903";
}

.icon-user_circle:before {
  content: "\e904";
}

.icon-user_close:before {
  content: "\e905";
}

.icon-user_heart:before {
  content: "\e906";
}

.icon-user_minus:before {
  content: "\e907";
}

.icon-user_pin:before {
  content: "\e908";
}

.icon-user_plus:before {
  content: "\e909";
}

.icon-user_square:before {
  content: "\e90a";
}

.icon-user_voice:before {
  content: "\e90b";
}

.icon-user:before {
  content: "\e90c";
}

.icon-bar_bottom:before {
  content: "\e90d";
}

.icon-bar_left:before {
  content: "\e90e";
}

.icon-bar_right:before {
  content: "\e90f";
}

.icon-bar_top:before {
  content: "\e910";
}

.icon-barcode:before {
  content: "\e911";
}

.icon-code:before {
  content: "\e912";
}

.icon-cylinder:before {
  content: "\e913";
}

.icon-data:before {
  content: "\e914";
}

.icon-filter_off_outline:before {
  content: "\e915";
}

.icon-filter_off:before {
  content: "\e916";
}

.icon-filter_outline:before {
  content: "\e917";
}

.icon-filter:before {
  content: "\e918";
}

.icon-qr_code-1:before {
  content: "\e919";
}

.icon-qr_code:before {
  content: "\e91a";
}

.icon-Sorting_ascending:before {
  content: "\e91b";
}

.icon-Sorting_descending:before {
  content: "\e91c";
}

.icon-terminal:before {
  content: "\e91d";
}

.icon-transfer:before {
  content: "\e91e";
}

.icon-window_check:before {
  content: "\e91f";
}

.icon-window_close:before {
  content: "\e920";
}

.icon-window_code_block:before {
  content: "\e921";
}

.icon-window_sidebar:before {
  content: "\e922";
}

.icon-window_terminal:before {
  content: "\e923";
}

.icon-window:before {
  content: "\e924";
}

.icon-black_lives_matter:before {
  content: "\e925";
}

.icon-bulb:before {
  content: "\e926";
}

.icon-coffee-togo:before {
  content: "\e927";
}

.icon-color:before {
  content: "\e928";
}

.icon-cookie:before {
  content: "\e929";
}

.icon-cupcake:before {
  content: "\e92a";
}

.icon-happy:before {
  content: "\e92b";
}

.icon-Max:before {
  content: "\e92c";
  color: #0f0f45;}

.icon-moon:before {
  content: "\e92d";
}

.icon-sad:before {
  content: "\e92e";
}

.icon-sun:before {
  content: "\e92f";
}

.icon-tennis_match_alt:before {
  content: "\e930";
}

.icon-tennis_match:before {
  content: "\e931";
}

.icon-tennis:before {
  content: "\e932";
}

.icon-notification_active:before {
  content: "\e933";
}

.icon-notification_deactivated:before {
  content: "\e934";
}

.icon-notification_dot:before {
  content: "\e935";
}

.icon-notification_minus:before {
  content: "\e936";
}

.icon-notification_outline_dot:before {
  content: "\e937";
}

.icon-notification_outline_minus:before {
  content: "\e938";
}

.icon-notification_outline_plus:before {
  content: "\e939";
}

.icon-notification_outline:before {
  content: "\e93a";
}

.icon-notification_plus:before {
  content: "\e93b";
}

.icon-notification:before {
  content: "\e93c";
}

.icon-dot_01_xs:before {
  content: "\e93d";
}

.icon-dot_02_s:before {
  content: "\e93e";
}

.icon-dot_03_m:before {
  content: "\e93f";
}

.icon-dot_04_l:before {
  content: "\e940";
}

.icon-dot_05_xl:before {
  content: "\e941";
}

.icon-dot_06_xll:before {
  content: "\e942";
}

.icon-line_l:before {
  content: "\e943";
}

.icon-line_m:before {
  content: "\e944";
}

.icon-line_s:before {
  content: "\e945";
}

.icon-line_sx:before {
  content: "\e946";
}

.icon-line_xl:before {
  content: "\e947";
}

.icon-close_big:before {
  content: "\e948";
}

.icon-close_small:before {
  content: "\e949";
}

.icon-hamburger:before {
  content: "\e94a";
}

.icon-menu_alt_01:before {
  content: "\e94b";
}

.icon-menu_alt_02:before {
  content: "\e94c";
}

.icon-menu_alt_03:before {
  content: "\e94d";
}

.icon-menu_alt_04:before {
  content: "\e94e";
}

.icon-menu_alt_05:before {
  content: "\e94f";
}

.icon-menu_duo:before {
  content: "\e950";
}

.icon-more_horizontal:before {
  content: "\e951";
}

.icon-more_vertical:before {
  content: "\e952";
}

.icon-airplay:before {
  content: "\e953";
}

.icon-cast:before {
  content: "\e954";
}

.icon-fast_forward:before {
  content: "\e955";
}

.icon-fast_rewind:before {
  content: "\e956";
}

.icon-pause_circle_filled:before {
  content: "\e957";
}

.icon-pause_circle_outline:before {
  content: "\e958";
}

.icon-play_arrow:before {
  content: "\e959";
}

.icon-play_circle_filled:before {
  content: "\e95a";
}

.icon-play_circle_outline:before {
  content: "\e95b";
}

.icon-repeat:before {
  content: "\e95c";
}

.icon-shuffle:before {
  content: "\e95d";
}

.icon-skip_next:before {
  content: "\e95e";
}

.icon-skip_previous:before {
  content: "\e95f";
}

.icon-building:before {
  content: "\e960";
}

.icon-home_alt_check:before {
  content: "\e961";
}

.icon-home_alt_fill:before {
  content: "\e962";
}

.icon-home_alt_minus:before {
  content: "\e963";
}

.icon-home_alt_outline:before {
  content: "\e964";
}

.icon-home_alt_plus:before {
  content: "\e965";
}

.icon-home_alt_x:before {
  content: "\e966";
}

.icon-home_check:before {
  content: "\e967";
}

.icon-home_fill:before {
  content: "\e968";
}

.icon-home_heart-1:before {
  content: "\e969";
}

.icon-home_heart:before {
  content: "\e96a";
}

.icon-home_minus:before {
  content: "\e96b";
}

.icon-home_outline:before {
  content: "\e96c";
}

.icon-home_plus:before {
  content: "\e96d";
}

.icon-home_x:before {
  content: "\e96e";
}

.icon-dashboard_02:before {
  content: "\e96f";
}

.icon-dashboard:before {
  content: "\e970";
}

.icon-grid_big_round:before {
  content: "\e971";
}

.icon-grid_big:before {
  content: "\e972";
}

.icon-grid_horizontal_round:before {
  content: "\e973";
}

.icon-grid_horizontal:before {
  content: "\e974";
}

.icon-grid_round:before {
  content: "\e975";
}

.icon-grid_small_round:before {
  content: "\e976";
}

.icon-grid_small:before {
  content: "\e977";
}

.icon-grid_vertical_round:before {
  content: "\e978";
}

.icon-grid_vertical:before {
  content: "\e979";
}

.icon-grid:before {
  content: "\e97a";
}

.icon-cloud_check:before {
  content: "\e97b";
}

.icon-cloud_close:before {
  content: "\e97c";
}

.icon-cloud_down:before {
  content: "\e97d";
}

.icon-cloud_off:before {
  content: "\e97e";
}

.icon-cloud_outline:before {
  content: "\e97f";
}

.icon-cloud_up:before {
  content: "\e980";
}

.icon-cloud:before {
  content: "\e981";
}

.icon-file_archive:before {
  content: "\e982";
}

.icon-file_blank_fill:before {
  content: "\e983";
}

.icon-file_blank_outline:before {
  content: "\e984";
}

.icon-file_css:before {
  content: "\e985";
}

.icon-file_find:before {
  content: "\e986";
}

.icon-file_html:before {
  content: "\e987";
}

.icon-file_image:before {
  content: "\e988";
}

.icon-file_jpg:before {
  content: "\e989";
}

.icon-file_js:before {
  content: "\e98a";
}

.icon-file_minus:before {
  content: "\e98b";
}

.icon-file_new:before {
  content: "\e98c";
}

.icon-file_pdf:before {
  content: "\e98d";
}

.icon-file_png:before {
  content: "\e98e";
}

.icon-file_svg:before {
  content: "\e98f";
}

.icon-folder_minus:before {
  content: "\e990";
}

.icon-folder_open:before {
  content: "\e991";
}

.icon-folder_plus:before {
  content: "\e992";
}

.icon-folder:before {
  content: "\e993";
}

.icon-note:before {
  content: "\e994";
}

.icon-add_to_queue:before {
  content: "\e995";
}

.icon-copy:before {
  content: "\e996";
}

.icon-edit:before {
  content: "\e997";
}

.icon-hide:before {
  content: "\e998";
}

.icon-list_check:before {
  content: "\e999";
}

.icon-list_minus:before {
  content: "\e99a";
}

.icon-list_ol:before {
  content: "\e99b";
}

.icon-list_plus:before {
  content: "\e99c";
}

.icon-list_ul:before {
  content: "\e99d";
}

.icon-minus_circle_outline:before {
  content: "\e99e";
}

.icon-minus_circle:before {
  content: "\e99f";
}

.icon-minus_square:before {
  content: "\e9a0";
}

.icon-minus:before {
  content: "\e9a1";
}

.icon-move_horizontal:before {
  content: "\e9a2";
}

.icon-move_vertical:before {
  content: "\e9a3";
}

.icon-move:before {
  content: "\e9a4";
}

.icon-plus_circle_outline:before {
  content: "\e9a5";
}

.icon-plus_circle:before {
  content: "\e9a6";
}

.icon-plus_square:before {
  content: "\e9a7";
}

.icon-plus:before {
  content: "\e9a8";
}

.icon-plus_white:before {
  content: "\e9a8";
  color: #ffffff;}

.icon-search_small_minus:before {
  content: "\e9a9";
}

.icon-search_small_plus:before {
  content: "\e9aa";
}

.icon-search_small:before {
  content: "\e9ab";
}

.icon-search:before {
  content: "\e9ac";
}

.icon-select_multiple:before {
  content: "\e9ad";
}

.icon-show:before {
  content: "\e9ae";
}

.icon-text_align_center:before {
  content: "\e9af";
}

.icon-text_align_justify:before {
  content: "\e9b0";
}

.icon-text_align_left:before {
  content: "\e9b1";
}

.icon-text_align_right:before {
  content: "\e9b2";
}

.icon-devices:before {
  content: "\e9b3";
}

.icon-laptop:before {
  content: "\e9b4";
}

.icon-mobile_alt:before {
  content: "\e9b5";
}

.icon-mobile:before {
  content: "\e9b6";
}

.icon-monitor:before {
  content: "\e9b7";
}

.icon-tablet:before {
  content: "\e9b8";
}

.icon-chat_alt:before {
  content: "\e9b9";
}

.icon-chat:before {
  content: "\e9ba";
}

.icon-message_check:before {
  content: "\e9bb";
}

.icon-message_circle:before {
  content: "\e9bc";
}

.icon-message_close:before {
  content: "\e9bd";
}

.icon-message_minus:before {
  content: "\e9be";
}

.icon-message_plus_alt:before {
  content: "\e9bf";
}

.icon-message_plus:before {
  content: "\e9c0";
}

.icon-message_round:before {
  content: "\e9c1";
}

.icon-message_writing:before {
  content: "\e9c2";
}

.icon-message:before {
  content: "\e9c3";
}

.icon-bar_chart_alt:before {
  content: "\e9c4";
}

.icon-bar_chart_circle:before {
  content: "\e9c5";
}

.icon-bar_chart_horizontal:before {
  content: "\e9c6";
}

.icon-bar_chart_square:before {
  content: "\e9c7";
}

.icon-bar_chart:before {
  content: "\e9c8";
}

.icon-doughnut_chart:before {
  content: "\e9c9";
}

.icon-line_chart_down:before {
  content: "\e9ca";
}

.icon-line_chart_up:before {
  content: "\e9cb";
}

.icon-pie_chart_25:before {
  content: "\e9cc";
}

.icon-pie_chart_50:before {
  content: "\e9cd";
}

.icon-pie_chart_75:before {
  content: "\e9ce";
}

.icon-pie_chart_outline_25:before {
  content: "\e9cf";
}

.icon-pie_chart_outline:before {
  content: "\e9d0";
}

.icon-trending_down:before {
  content: "\e9d1";
}

.icon-trending_up:before {
  content: "\e9d2";
}

.icon-calendar_calendar:before {
  content: "\e9d3";
}

.icon-calendar_check:before {
  content: "\e9d4";
}

.icon-calendar_edit:before {
  content: "\e9d5";
}

.icon-calendar_event:before {
  content: "\e9d6";
}

.icon-calendar_minus:before {
  content: "\e9d7";
}

.icon-calendar_plus:before {
  content: "\e9d8";
}

.icon-calendar_week:before {
  content: "\e9d9";
}

.icon-calendar_x:before {
  content: "\e9da";
}

.icon-calendar:before {
  content: "\e9db";
}

.icon-adobe_xd:before {
  content: "\e9dc";
}

.icon-app_store:before {
  content: "\e9dd";
}

.icon-apple:before {
  content: "\e9de";
}

.icon-behance:before {
  content: "\e9df";
}

.icon-coolicons:before {
  content: "\e9e0";
}

.icon-css3:before {
  content: "\e9e1";
}

.icon-discord:before {
  content: "\e9e2";
}

.icon-dribbble:before {
  content: "\e9e3";
}

.icon-dropbox:before {
  content: "\e9e4";
}

.icon-facebook:before {
  content: "\e9e5";
}

.icon-Figma:before {
  content: "\e9e6";
}

.icon-github:before {
  content: "\e9e7";
}

.icon-google:before {
  content: "\e9e8";
}

.icon-html5:before {
  content: "\e9e9";
}

.icon-instagram:before {
  content: "\e9ea";
}

.icon-invision:before {
  content: "\e9eb";
}

.icon-javascript:before {
  content: "\e9ec";
}

.icon-LinkedIn:before {
  content: "\e9ed";
}

.icon-linkpath:before {
  content: "\e9ee";
}

.icon-messenger:before {
  content: "\e9ef";
}

.icon-paypal:before {
  content: "\e9f0";
}

.icon-play_store:before {
  content: "\e9f1";
}

.icon-reddit:before {
  content: "\e9f2";
}

.icon-Sketch:before {
  content: "\e9f3";
}

.icon-slack:before {
  content: "\e9f4";
}

.icon-snapchat:before {
  content: "\e9f5";
}

.icon-spectrum:before {
  content: "\e9f6";
}

.icon-spotify:before {
  content: "\e9f7";
}

.icon-stack_overflow:before {
  content: "\e9f8";
}

.icon-trello:before {
  content: "\e9f9";
}

.icon-twitter:before {
  content: "\e9fa";
}

.icon-unsplash:before {
  content: "\e9fb";
}

.icon-youtube:before {
  content: "\e9fc";
}

.icon-alarm_add:before {
  content: "\e9fd";
}

.icon-alarm:before {
  content: "\e9fe";
}

.icon-Case:before {
  content: "\e9ff";
}

.icon-check_all_big:before {
  content: "\ea00";
}

.icon-check_all:before {
  content: "\ea01";
}

.icon-check_big:before {
  content: "\ea02";
}

.icon-check_bold:before {
  content: "\ea03";
}

.icon-check:before {
  content: "\ea04";
}

.icon-checkbox_checked:before {
  content: "\ea05";
}

.icon-checkbox_square:before {
  content: "\ea06";
}

.icon-checkbox:before {
  content: "\ea07";
}

.icon-circle_check_outline:before {
  content: "\ea08";
}

.icon-circle_check:before {
  content: "\ea09";
}

.icon-clock:before {
  content: "\ea0a";
}

.icon-command:before {
  content: "\ea0b";
}

.icon-confused:before {
  content: "\ea0c";
}

.icon-credit_card_alt:before {
  content: "\ea0d";
}

.icon-credit_card:before {
  content: "\ea0e";
}

.icon-download_done:before {
  content: "\ea0f";
}

.icon-download:before {
  content: "\ea10";
}

.icon-Earth:before {
  content: "\ea11";
}

.icon-exit:before {
  content: "\ea12";
}

.icon-external_link:before {
  content: "\ea13";
}

.icon-flag_fill:before {
  content: "\ea14";
}

.icon-flag_outline:before {
  content: "\ea15";
}

.icon-heart_fill:before {
  content: "\ea16";
}

.icon-heart_outline:before {
  content: "\ea17";
}

.icon-help_circle_outline:before {
  content: "\ea18";
}

.icon-help_circle:before {
  content: "\ea19";
}

.icon-help_questionmark:before {
  content: "\ea1a";
}

.icon-image_alt:before {
  content: "\ea1b";
}

.icon-label:before {
  content: "\ea1c";
}

.icon-layers_alt:before {
  content: "\ea1d";
}

.icon-layers:before {
  content: "\ea1e";
}

.icon-link_02:before {
  content: "\ea1f";
}

.icon-link:before {
  content: "\ea20";
}

.icon-loading:before {
  content: "\ea21";
}

.icon-location_outline:before {
  content: "\ea22";
}

.icon-location:before {
  content: "\ea23";
}

.icon-Lock:before {
  content: "\ea24";
}

.icon-log_out:before {
  content: "\ea25";
}

.icon-mail_open:before {
  content: "\ea26";
}

.icon-mail:before {
  content: "\ea27";
}

.icon-map:before {
  content: "\ea28";
}

.icon-off_close:before {
  content: "\ea29";
}

.icon-off_outline_close:before {
  content: "\ea2a";
}

.icon-path:before {
  content: "\ea2b";
}

.icon-phone_outline:before {
  content: "\ea2c";
}

.icon-phone:before {
  content: "\ea2d";
}

.icon-radio_filled:before {
  content: "\ea2e";
}

.icon-radio:before {
  content: "\ea2f";
}

.icon-refresh_02:before {
  content: "\ea30";
}

.icon-refresh:before {
  content: "\ea31";
}

.icon-settings_filled:before {
  content: "\ea32";
}

.icon-settings_future:before {
  content: "\ea33";
}

.icon-settings:before {
  content: "\ea34";
}

.icon-share_outline:before {
  content: "\ea35";
}

.icon-share:before {
  content: "\ea36";
}

.icon-slider_01:before {
  content: "\ea37";
}

.icon-slider_02:before {
  content: "\ea38";
}

.icon-slider_03:before {
  content: "\ea39";
}

.icon-stopwatch:before {
  content: "\ea3a";
}

.icon-tag-outline:before {
  content: "\ea3b";
}

.icon-tag:before {
  content: "\ea3c";
}

.icon-trash_empty:before {
  content: "\ea3d";
}

.icon-trash_full:before {
  content: "\ea3e";
}

.icon-unlink:before {
  content: "\ea3f";
}

.icon-error_outline:before {
  content: "\ea40";
}

.icon-error:before {
  content: "\ea41";
}

.icon-info_circle_outline:before {
  content: "\ea42";
}

.icon-info_circle:before {
  content: "\ea43";
}

.icon-info_square_outline:before {
  content: "\ea44";
}

.icon-info_square:before {
  content: "\ea45";
}

.icon-warning_outline:before {
  content: "\ea46";
}

.icon-warning:before {
  content: "\ea47";
}

.icon-caret_down:before {
  content: "\ea48";
}

.icon-caret_left:before {
  content: "\ea49";
}

.icon-caret_right:before {
  content: "\ea4a";
}

.icon-caret_up:before {
  content: "\ea4b";
}

.icon-chevron_big_down:before {
  content: "\ea4c";
}

.icon-chevron_big_left:before {
  content: "\ea4d";
}

.icon-chevron_big_right:before {
  content: "\ea4e";
}

.icon-chevron_big_up:before {
  content: "\ea4f";
}

.icon-chevron_down:before {
  content: "\ea50";
}

.icon-chevron_duo_down:before {
  content: "\ea51";
}

.icon-chevron_duo_left:before {
  content: "\ea52";
}

.icon-chevron_duo_right:before {
  content: "\ea53";
}

.icon-chevron_duo_up:before {
  content: "\ea54";
}

.icon-chevron_left:before {
  content: "\ea55";
}

.icon-chevron_right:before {
  content: "\ea56";
}

.icon-chevron_up:before {
  content: "\ea57";
}

.icon-circle_chevron_down:before {
  content: "\ea58";
}

.icon-circle_chevron_left:before {
  content: "\ea59";
}

.icon-circle_chevron_right:before {
  content: "\ea5a";
}

.icon-circle_chevron_up:before {
  content: "\ea5b";
}

.icon-circle_down:before {
  content: "\ea5c";
}

.icon-circle_left:before {
  content: "\ea5d";
}

.icon-circle_right:before {
  content: "\ea5e";
}

.icon-circle_up:before {
  content: "\ea5f";
}

.icon-expand:before {
  content: "\ea60";
}

.icon-first_page:before {
  content: "\ea61";
}

.icon-last_page:before {
  content: "\ea62";
}

.icon-long_bottom_down:before {
  content: "\ea63";
}

.icon-long_bottom_up:before {
  content: "\ea64";
}

.icon-long_down:before {
  content: "\ea65";
}

.icon-long_left:before {
  content: "\ea66";
}

.icon-long_right:before {
  content: "\ea67";
}

.icon-long_up_left:before {
  content: "\ea68";
}

.icon-long_up_right:before {
  content: "\ea69";
}

.icon-long_up:before {
  content: "\ea6a";
}

.icon-send:before {
  content: "\ea6b";
}

.icon-short_down:before {
  content: "\ea6c";
}

.icon-short_left:before {
  content: "\ea6d";
}

.icon-short_right:before {
  content: "\ea6e";
}

.icon-short_up:before {
  content: "\ea6f";
}

.icon-shrink:before {
  content: "\ea70";
}

.icon-small_long_down:before {
  content: "\ea71";
}

.icon-small_long_left:before {
  content: "\ea72";
}

.icon-small_long_right:before {
  content: "\ea73";
}

.icon-small_long_up:before {
  content: "\ea74";
}

.icon-sub_left:before {
  content: "\ea75";
}

.icon-sub_right:before {
  content: "\ea76";
}

.icon-thin_big_down:before {
  content: "\ea77";
}

.icon-thin_big_left:before {
  content: "\ea78";
}

.icon-thin_big_right:before {
  content: "\ea79";
}

.icon-thin_big_up:before {
  content: "\ea7a";
}

.icon-thin_long_02_down:before {
  content: "\ea7b";
}

.icon-thin_long_02_left:before {
  content: "\ea7c";
}

.icon-thin_long_02_right:before {
  content: "\ea7d";
}

.icon-thin_long_02_up:before {
  content: "\ea7e";
}

.icon-thin_long_down:before {
  content: "\ea7f";
}

.icon-thin_long_left:before {
  content: "\ea80";
}

.icon-thin_long_right:before {
  content: "\ea81";
}

.icon-thin_long_up:before {
  content: "\ea82";
}

.icon-unfold_less:before {
  content: "\ea83";
}

.icon-unfold_more:before {
  content: "\ea84";
}
