.icon-group_alt:before {
  content: "\e900";
  color: #2e3a59;
}
.icon-group:before {
  content: "\e901";
  color: #2e3a59;
}
.icon-id_card:before {
  content: "\e902";
  color: #2e3a59;
}
.icon-user_check:before {
  content: "\e903";
  color: #2e3a59;
}
.icon-user_circle:before {
  content: "\e904";
  color: #2e3a59;
}
.icon-user_close:before {
  content: "\e905";
  color: #2e3a59;
}
.icon-user_heart:before {
  content: "\e906";
  color: #2e3a59;
}
.icon-user_minus:before {
  content: "\e907";
  color: #2e3a59;
}
.icon-user_pin:before {
  content: "\e908";
  color: #2e3a59;
}
.icon-user_plus:before {
  content: "\e909";
  color: #2e3a59;
}
.icon-user_square:before {
  content: "\e90a";
  color: #2e3a59;
}
.icon-user_voice:before {
  content: "\e90b";
  color: #2e3a59;
}
.icon-user:before {
  content: "\e90c";
  color: #2e3a59;
}
.icon-bar_bottom:before {
  content: "\e90d";
  color: #2e3a59;
}
.icon-bar_left:before {
  content: "\e90e";
  color: #2e3a59;
}
.icon-bar_right:before {
  content: "\e90f";
  color: #2e3a59;
}
.icon-bar_top:before {
  content: "\e910";
  color: #2e3a59;
}
.icon-barcode:before {
  content: "\e911";
  color: #2e3a59;
}
.icon-code:before {
  content: "\e912";
  color: #2e3a59;
}
.icon-cylinder:before {
  content: "\e913";
  color: #2e3a59;
}
.icon-data:before {
  content: "\e914";
  color: #2e3a59;
}
.icon-filter_off_outline:before {
  content: "\e915";
  color: #2e3a59;
}
.icon-filter_off:before {
  content: "\e916";
  color: #2e3a59;
}
.icon-filter_outline:before {
  content: "\e917";
  color: #2e3a59;
}
.icon-filter:before {
  content: "\e918";
  color: #2e3a59;
}
.icon-qr_code-1:before {
  content: "\e919";
  color: #2e3a59;
}
.icon-qr_code:before {
  content: "\e91a";
  color: #2e3a59;
}
.icon-Sorting_ascending:before {
  content: "\e91b";
  color: #2e3a59;
}
.icon-Sorting_descending:before {
  content: "\e91c";
  color: #2e3a59;
}
.icon-terminal:before {
  content: "\e91d";
  color: #2e3a59;
}
.icon-transfer:before {
  content: "\e91e";
  color: #2e3a59;
}
.icon-window_check:before {
  content: "\e91f";
  color: #2e3a59;
}
.icon-window_close:before {
  content: "\e920";
  color: #2e3a59;
}
.icon-window_code_block:before {
  content: "\e921";
  color: #2e3a59;
}
.icon-window_sidebar:before {
  content: "\e922";
  color: #2e3a59;
}
.icon-window_terminal:before {
  content: "\e923";
  color: #2e3a59;
}
.icon-window:before {
  content: "\e924";
  color: #2e3a59;
}
.icon-black_lives_matter:before {
  content: "\e925";
  color: #2e3a59;
}
.icon-bulb:before {
  content: "\e926";
  color: #2e3a59;
}
.icon-coffee-togo:before {
  content: "\e927";
  color: #2e3a59;
}
.icon-color:before {
  content: "\e928";
  color: #2e3a59;
}
.icon-cookie:before {
  content: "\e929";
  color: #2e3a59;
}
.icon-cupcake:before {
  content: "\e92a";
  color: #2e3a59;
}
.icon-happy:before {
  content: "\e92b";
  color: #2e3a59;
}
.icon-Max:before {
  content: "\e92c";
  color: #0f0f45;
}
.icon-moon:before {
  content: "\e92d";
  color: #2e3a59;
}
.icon-sad:before {
  content: "\e92e";
  color: #2e3a59;
}
.icon-sun:before {
  content: "\e92f";
  color: #2e3a59;
}
.icon-tennis_match_alt:before {
  content: "\e930";
  color: #2e3a59;
}
.icon-tennis_match:before {
  content: "\e931";
  color: #2e3a59;
}
.icon-tennis:before {
  content: "\e932";
  color: #2e3a59;
}
.icon-notification_active:before {
  content: "\e933";
  color: #2e3a59;
}
.icon-notification_deactivated:before {
  content: "\e934";
  color: #2e3a59;
}
.icon-notification_dot:before {
  content: "\e935";
  color: #2e3a59;
}
.icon-notification_minus:before {
  content: "\e936";
  color: #2e3a59;
}
.icon-notification_outline_dot:before {
  content: "\e937";
  color: #2e3a59;
}
.icon-notification_outline_minus:before {
  content: "\e938";
  color: #2e3a59;
}
.icon-notification_outline_plus:before {
  content: "\e939";
  color: #2e3a59;
}
.icon-notification_outline:before {
  content: "\e93a";
  color: #2e3a59;
}
.icon-notification_plus:before {
  content: "\e93b";
  color: #2e3a59;
}
.icon-notification:before {
  content: "\e93c";
  color: #2e3a59;
}
.icon-dot_01_xs:before {
  content: "\e93d";
  color: #2e3a59;
}
.icon-dot_02_s:before {
  content: "\e93e";
  color: #2e3a59;
}
.icon-dot_03_m:before {
  content: "\e93f";
  color: #2e3a59;
}
.icon-dot_04_l:before {
  content: "\e940";
  color: #2e3a59;
}
.icon-dot_05_xl:before {
  content: "\e941";
  color: #2e3a59;
}
.icon-dot_06_xll:before {
  content: "\e942";
  color: #2e3a59;
}
.icon-line_l:before {
  content: "\e943";
  color: #2e3a59;
}
.icon-line_m:before {
  content: "\e944";
  color: #2e3a59;
}
.icon-line_s:before {
  content: "\e945";
  color: #2e3a59;
}
.icon-line_sx:before {
  content: "\e946";
  color: #2e3a59;
}
.icon-line_xl:before {
  content: "\e947";
  color: #2e3a59;
}
.icon-close_big:before {
  content: "\e948";
  color: #2e3a59;
}
.icon-close_small:before {
  content: "\e949";
  color: #2e3a59;
}
.icon-hamburger:before {
  content: "\e94a";
  color: #2e3a59;
}
.icon-menu_alt_01:before {
  content: "\e94b";
  color: #2e3a59;
}
.icon-menu_alt_02:before {
  content: "\e94c";
  color: #2e3a59;
}
.icon-menu_alt_03:before {
  content: "\e94d";
  color: #2e3a59;
}
.icon-menu_alt_04:before {
  content: "\e94e";
  color: #2e3a59;
}
.icon-menu_alt_05:before {
  content: "\e94f";
  color: #2e3a59;
}
.icon-menu_duo:before {
  content: "\e950";
  color: #2e3a59;
}
.icon-more_horizontal:before {
  content: "\e951";
  color: #2e3a59;
}
.icon-more_vertical:before {
  content: "\e952";
  color: #2e3a59;
}
.icon-airplay:before {
  content: "\e953";
  color: #2e3a59;
}
.icon-cast:before {
  content: "\e954";
  color: #2e3a59;
}
.icon-fast_forward:before {
  content: "\e955";
  color: #2e3a59;
}
.icon-fast_rewind:before {
  content: "\e956";
  color: #2e3a59;
}
.icon-pause_circle_filled:before {
  content: "\e957";
  color: #2e3a59;
}
.icon-pause_circle_outline:before {
  content: "\e958";
  color: #2e3a59;
}
.icon-play_arrow:before {
  content: "\e959";
  color: #2e3a59;
}
.icon-play_circle_filled:before {
  content: "\e95a";
  color: #2e3a59;
}
.icon-play_circle_outline:before {
  content: "\e95b";
  color: #2e3a59;
}
.icon-repeat:before {
  content: "\e95c";
  color: #2e3a59;
}
.icon-shuffle:before {
  content: "\e95d";
  color: #2e3a59;
}
.icon-skip_next:before {
  content: "\e95e";
  color: #2e3a59;
}
.icon-skip_previous:before {
  content: "\e95f";
  color: #2e3a59;
}
.icon-building:before {
  content: "\e960";
  color: #2e3a59;
}
.icon-home_alt_check:before {
  content: "\e961";
  color: #2e3a59;
}
.icon-home_alt_fill:before {
  content: "\e962";
  color: #2e3a59;
}
.icon-home_alt_minus:before {
  content: "\e963";
  color: #2e3a59;
}
.icon-home_alt_outline:before {
  content: "\e964";
  color: #2e3a59;
}
.icon-home_alt_plus:before {
  content: "\e965";
  color: #2e3a59;
}
.icon-home_alt_x:before {
  content: "\e966";
  color: #2e3a59;
}
.icon-home_check:before {
  content: "\e967";
  color: #2e3a59;
}
.icon-home_fill:before {
  content: "\e968";
  color: #2e3a59;
}
.icon-home_heart-1:before {
  content: "\e969";
  color: #2e3a59;
}
.icon-home_heart:before {
  content: "\e96a";
  color: #2e3a59;
}
.icon-home_minus:before {
  content: "\e96b";
  color: #2e3a59;
}
.icon-home_outline:before {
  content: "\e96c";
  color: #2e3a59;
}
.icon-home_plus:before {
  content: "\e96d";
  color: #2e3a59;
}
.icon-home_x:before {
  content: "\e96e";
  color: #2e3a59;
}
.icon-dashboard_02:before {
  content: "\e96f";
  color: #2e3a59;
}
.icon-dashboard:before {
  content: "\e970";
  color: #2e3a59;
}
.icon-grid_big_round:before {
  content: "\e971";
  color: #2e3a59;
}
.icon-grid_big:before {
  content: "\e972";
  color: #2e3a59;
}
.icon-grid_horizontal_round:before {
  content: "\e973";
  color: #2e3a59;
}
.icon-grid_horizontal:before {
  content: "\e974";
  color: #2e3a59;
}
.icon-grid_round:before {
  content: "\e975";
  color: #2e3a59;
}
.icon-grid_small_round:before {
  content: "\e976";
  color: #2e3a59;
}
.icon-grid_small:before {
  content: "\e977";
  color: #2e3a59;
}
.icon-grid_vertical_round:before {
  content: "\e978";
  color: #2e3a59;
}
.icon-grid_vertical:before {
  content: "\e979";
  color: #2e3a59;
}
.icon-grid:before {
  content: "\e97a";
  color: #2e3a59;
}
.icon-cloud_check:before {
  content: "\e97b";
  color: #2e3a59;
}
.icon-cloud_close:before {
  content: "\e97c";
  color: #2e3a59;
}
.icon-cloud_down:before {
  content: "\e97d";
  color: #2e3a59;
}
.icon-cloud_off:before {
  content: "\e97e";
  color: #2e3a59;
}
.icon-cloud_outline:before {
  content: "\e97f";
  color: #2e3a59;
}
.icon-cloud_up:before {
  content: "\e980";
  color: #2e3a59;
}
.icon-cloud:before {
  content: "\e981";
  color: #2e3a59;
}
.icon-file_archive:before {
  content: "\e982";
  color: #2e3a59;
}
.icon-file_blank_fill:before {
  content: "\e983";
  color: #2e3a59;
}
.icon-file_blank_outline:before {
  content: "\e984";
  color: #2e3a59;
}
.icon-file_css:before {
  content: "\e985";
  color: #2e3a59;
}
.icon-file_find:before {
  content: "\e986";
  color: #2e3a59;
}
.icon-file_html:before {
  content: "\e987";
  color: #2e3a59;
}
.icon-file_image:before {
  content: "\e988";
  color: #2e3a59;
}
.icon-file_jpg:before {
  content: "\e989";
  color: #2e3a59;
}
.icon-file_js:before {
  content: "\e98a";
  color: #2e3a59;
}
.icon-file_minus:before {
  content: "\e98b";
  color: #2e3a59;
}
.icon-file_new:before {
  content: "\e98c";
  color: #2e3a59;
}
.icon-file_pdf:before {
  content: "\e98d";
  color: #2e3a59;
}
.icon-file_png:before {
  content: "\e98e";
  color: #2e3a59;
}
.icon-file_svg:before {
  content: "\e98f";
  color: #2e3a59;
}
.icon-folder_minus:before {
  content: "\e990";
  color: #2e3a59;
}
.icon-folder_open:before {
  content: "\e991";
  color: #2e3a59;
}
.icon-folder_plus:before {
  content: "\e992";
  color: #2e3a59;
}
.icon-folder:before {
  content: "\e993";
  color: #2e3a59;
}
.icon-note:before {
  content: "\e994";
  color: #2e3a59;
}
.icon-add_to_queue:before {
  content: "\e995";
  color: #2e3a59;
}
.icon-copy:before {
  content: "\e996";
  color: #2e3a59;
}
.icon-edit:before {
  content: "\e997";
  color: #2e3a59;
}
.icon-hide:before {
  content: "\e998";
  color: #2e3a59;
}
.icon-list_check:before {
  content: "\e999";
  color: #2e3a59;
}
.icon-list_minus:before {
  content: "\e99a";
  color: #2e3a59;
}
.icon-list_ol:before {
  content: "\e99b";
  color: #2e3a59;
}
.icon-list_plus:before {
  content: "\e99c";
  color: #2e3a59;
}
.icon-list_ul:before {
  content: "\e99d";
  color: #2e3a59;
}
.icon-minus_circle_outline:before {
  content: "\e99e";
  color: #2e3a59;
}
.icon-minus_circle:before {
  content: "\e99f";
  color: #2e3a59;
}
.icon-minus_square:before {
  content: "\e9a0";
  color: #2e3a59;
}
.icon-minus:before {
  content: "\e9a1";
  color: #2e3a59;
}
.icon-move_horizontal:before {
  content: "\e9a2";
  color: #2e3a59;
}
.icon-move_vertical:before {
  content: "\e9a3";
  color: #2e3a59;
}
.icon-move:before {
  content: "\e9a4";
  color: #2e3a59;
}
.icon-plus_circle_outline:before {
  content: "\e9a5";
  color: #2e3a59;
}
.icon-plus_circle:before {
  content: "\e9a6";
  color: #2e3a59;
}
.icon-plus_square:before {
  content: "\e9a7";
  color: #2e3a59;
}
.icon-plus:before {
  content: "\e9a8";
  color: #2e3a59;
}
.icon-search_small_minus:before {
  content: "\e9a9";
  color: #2e3a59;
}
.icon-search_small_plus:before {
  content: "\e9aa";
  color: #2e3a59;
}
.icon-search_small:before {
  content: "\e9ab";
  color: #2e3a59;
}
.icon-search:before {
  content: "\e9ac";
  color: #2e3a59;
}
.icon-select_multiple:before {
  content: "\e9ad";
  color: #2e3a59;
}
.icon-show:before {
  content: "\e9ae";
  color: #2e3a59;
}
.icon-text_align_center:before {
  content: "\e9af";
  color: #2e3a59;
}
.icon-text_align_justify:before {
  content: "\e9b0";
  color: #2e3a59;
}
.icon-text_align_left:before {
  content: "\e9b1";
  color: #2e3a59;
}
.icon-text_align_right:before {
  content: "\e9b2";
  color: #2e3a59;
}
.icon-devices:before {
  content: "\e9b3";
  color: #2e3a59;
}
.icon-laptop:before {
  content: "\e9b4";
  color: #2e3a59;
}
.icon-mobile_alt:before {
  content: "\e9b5";
  color: #2e3a59;
}
.icon-mobile:before {
  content: "\e9b6";
  color: #2e3a59;
}
.icon-monitor:before {
  content: "\e9b7";
  color: #2e3a59;
}
.icon-tablet:before {
  content: "\e9b8";
  color: #2e3a59;
}
.icon-chat_alt:before {
  content: "\e9b9";
  color: #2e3a59;
}
.icon-chat:before {
  content: "\e9ba";
  color: #2e3a59;
}
.icon-message_check:before {
  content: "\e9bb";
  color: #2e3a59;
}
.icon-message_circle:before {
  content: "\e9bc";
  color: #2e3a59;
}
.icon-message_close:before {
  content: "\e9bd";
  color: #2e3a59;
}
.icon-message_minus:before {
  content: "\e9be";
  color: #2e3a59;
}
.icon-message_plus_alt:before {
  content: "\e9bf";
  color: #2e3a59;
}
.icon-message_plus:before {
  content: "\e9c0";
  color: #2e3a59;
}
.icon-message_round:before {
  content: "\e9c1";
  color: #2e3a59;
}
.icon-message_writing:before {
  content: "\e9c2";
  color: #2e3a59;
}
.icon-message:before {
  content: "\e9c3";
  color: #2e3a59;
}
.icon-bar_chart_alt:before {
  content: "\e9c4";
  color: #2e3a59;
}
.icon-bar_chart_circle:before {
  content: "\e9c5";
  color: #2e3a59;
}
.icon-bar_chart_horizontal:before {
  content: "\e9c6";
  color: #2e3a59;
}
.icon-bar_chart_square:before {
  content: "\e9c7";
  color: #2e3a59;
}
.icon-bar_chart:before {
  content: "\e9c8";
  color: #2e3a59;
}
.icon-doughnut_chart:before {
  content: "\e9c9";
  color: #2e3a59;
}
.icon-line_chart_down:before {
  content: "\e9ca";
  color: #2e3a59;
}
.icon-line_chart_up:before {
  content: "\e9cb";
  color: #2e3a59;
}
.icon-pie_chart_25:before {
  content: "\e9cc";
  color: #2e3a59;
}
.icon-pie_chart_50:before {
  content: "\e9cd";
  color: #2e3a59;
}
.icon-pie_chart_75:before {
  content: "\e9ce";
  color: #2e3a59;
}
.icon-pie_chart_outline_25:before {
  content: "\e9cf";
  color: #2e3a59;
}
.icon-pie_chart_outline:before {
  content: "\e9d0";
  color: #2e3a59;
}
.icon-trending_down:before {
  content: "\e9d1";
  color: #2e3a59;
}
.icon-trending_up:before {
  content: "\e9d2";
  color: #2e3a59;
}
.icon-calendar_calendar:before {
  content: "\e9d3";
  color: #2e3a59;
}
.icon-calendar_check:before {
  content: "\e9d4";
  color: #2e3a59;
}
.icon-calendar_edit:before {
  content: "\e9d5";
  color: #2e3a59;
}
.icon-calendar_event:before {
  content: "\e9d6";
  color: #2e3a59;
}
.icon-calendar_minus:before {
  content: "\e9d7";
  color: #2e3a59;
}
.icon-calendar_plus:before {
  content: "\e9d8";
  color: #2e3a59;
}
.icon-calendar_week:before {
  content: "\e9d9";
  color: #2e3a59;
}
.icon-calendar_x:before {
  content: "\e9da";
  color: #2e3a59;
}
.icon-calendar:before {
  content: "\e9db";
  color: #2e3a59;
}
.icon-adobe_xd:before {
  content: "\e9dc";
  color: #2e3a59;
}
.icon-app_store:before {
  content: "\e9dd";
  color: #2e3a59;
}
.icon-apple:before {
  content: "\e9de";
  color: #2e3a59;
}
.icon-behance:before {
  content: "\e9df";
  color: #2e3a59;
}
.icon-coolicons:before {
  content: "\e9e0";
  color: #2e3a59;
}
.icon-css3:before {
  content: "\e9e1";
  color: #2e3a59;
}
.icon-discord:before {
  content: "\e9e2";
  color: #2e3a59;
}
.icon-dribbble:before {
  content: "\e9e3";
  color: #2e3a59;
}
.icon-dropbox:before {
  content: "\e9e4";
  color: #2e3a59;
}
.icon-facebook:before {
  content: "\e9e5";
  color: #2e3a59;
}
.icon-Figma:before {
  content: "\e9e6";
  color: #2e3a59;
}
.icon-github:before {
  content: "\e9e7";
  color: #2e3a59;
}
.icon-google:before {
  content: "\e9e8";
  color: #2e3a59;
}
.icon-html5:before {
  content: "\e9e9";
  color: #2e3a59;
}
.icon-instagram:before {
  content: "\e9ea";
  color: #2e3a59;
}
.icon-invision:before {
  content: "\e9eb";
  color: #2e3a59;
}
.icon-javascript:before {
  content: "\e9ec";
  color: #2e3a59;
}
.icon-LinkedIn:before {
  content: "\e9ed";
  color: #2e3a59;
}
.icon-linkpath:before {
  content: "\e9ee";
  color: #2e3a59;
}
.icon-messenger:before {
  content: "\e9ef";
  color: #2e3a59;
}
.icon-paypal:before {
  content: "\e9f0";
  color: #2e3a59;
}
.icon-play_store:before {
  content: "\e9f1";
  color: #2e3a59;
}
.icon-reddit:before {
  content: "\e9f2";
  color: #2e3a59;
}
.icon-Sketch:before {
  content: "\e9f3";
  color: #2e3a59;
}
.icon-slack:before {
  content: "\e9f4";
  color: #2e3a59;
}
.icon-snapchat:before {
  content: "\e9f5";
  color: #2e3a59;
}
.icon-spectrum:before {
  content: "\e9f6";
  color: #2e3a59;
}
.icon-spotify:before {
  content: "\e9f7";
  color: #2e3a59;
}
.icon-stack_overflow:before {
  content: "\e9f8";
  color: #2e3a59;
}
.icon-trello:before {
  content: "\e9f9";
  color: #2e3a59;
}
.icon-twitter:before {
  content: "\e9fa";
  color: #2e3a59;
}
.icon-unsplash:before {
  content: "\e9fb";
  color: #2e3a59;
}
.icon-youtube:before {
  content: "\e9fc";
  color: #2e3a59;
}
.icon-alarm_add:before {
  content: "\e9fd";
  color: #2e3a59;
}
.icon-alarm:before {
  content: "\e9fe";
  color: #2e3a59;
}
.icon-Case:before {
  content: "\e9ff";
  color: #2e3a59;
}
.icon-check_all_big:before {
  content: "\ea00";
  color: #2e3a59;
}
.icon-check_all:before {
  content: "\ea01";
  color: #2e3a59;
}
.icon-check_big:before {
  content: "\ea02";
  color: #2e3a59;
}
.icon-check_bold:before {
  content: "\ea03";
  color: #2e3a59;
}
.icon-check:before {
  content: "\ea04";
  color: #2e3a59;
}
.icon-checkbox_checked:before {
  content: "\ea05";
  color: #2e3a59;
}
.icon-checkbox_square:before {
  content: "\ea06";
  color: #2e3a59;
}
.icon-checkbox:before {
  content: "\ea07";
  color: #2e3a59;
}
.icon-circle_check_outline:before {
  content: "\ea08";
  color: #2e3a59;
}
.icon-circle_check:before {
  content: "\ea09";
  color: #2e3a59;
}
.icon-clock:before {
  content: "\ea0a";
  color: #2e3a59;
}
.icon-command:before {
  content: "\ea0b";
  color: #2e3a59;
}
.icon-confused:before {
  content: "\ea0c";
  color: #2e3a59;
}
.icon-credit_card_alt:before {
  content: "\ea0d";
  color: #2e3a59;
}
.icon-credit_card:before {
  content: "\ea0e";
  color: #2e3a59;
}
.icon-download_done:before {
  content: "\ea0f";
  color: #2e3a59;
}
.icon-download:before {
  content: "\ea10";
  color: #2e3a59;
}
.icon-Earth:before {
  content: "\ea11";
  color: #2e3a59;
}
.icon-exit:before {
  content: "\ea12";
  color: #2e3a59;
}
.icon-external_link:before {
  content: "\ea13";
  color: #2e3a59;
}
.icon-flag_fill:before {
  content: "\ea14";
  color: #2e3a59;
}
.icon-flag_outline:before {
  content: "\ea15";
  color: #2e3a59;
}
.icon-heart_fill:before {
  content: "\ea16";
  color: #2e3a59;
}
.icon-heart_outline:before {
  content: "\ea17";
  color: #2e3a59;
}
.icon-help_circle_outline:before {
  content: "\ea18";
  color: #2e3a59;
}
.icon-help_circle:before {
  content: "\ea19";
  color: #2e3a59;
}
.icon-help_questionmark:before {
  content: "\ea1a";
  color: #2e3a59;
}
.icon-image_alt:before {
  content: "\ea1b";
  color: #2e3a59;
}
.icon-label:before {
  content: "\ea1c";
  color: #2e3a59;
}
.icon-layers_alt:before {
  content: "\ea1d";
  color: #2e3a59;
}
.icon-layers:before {
  content: "\ea1e";
  color: #2e3a59;
}
.icon-link_02:before {
  content: "\ea1f";
  color: #2e3a59;
}
.icon-link:before {
  content: "\ea20";
  color: #2e3a59;
}
.icon-loading:before {
  content: "\ea21";
  color: #2e3a59;
}
.icon-location_outline:before {
  content: "\ea22";
  color: #2e3a59;
}
.icon-location:before {
  content: "\ea23";
  color: #2e3a59;
}
.icon-Lock:before {
  content: "\ea24";
  color: #2e3a59;
}
.icon-log_out:before {
  content: "\ea25";
  color: #2e3a59;
}
.icon-mail_open:before {
  content: "\ea26";
  color: #2e3a59;
}
.icon-mail:before {
  content: "\ea27";
  color: #2e3a59;
}
.icon-map:before {
  content: "\ea28";
  color: #2e3a59;
}
.icon-off_close:before {
  content: "\ea29";
  color: #2e3a59;
}
.icon-off_outline_close:before {
  content: "\ea2a";
  color: #2e3a59;
}
.icon-path:before {
  content: "\ea2b";
  color: #2e3a59;
}
.icon-phone_outline:before {
  content: "\ea2c";
  color: #2e3a59;
}
.icon-phone:before {
  content: "\ea2d";
  color: #2e3a59;
}
.icon-radio_filled:before {
  content: "\ea2e";
  color: #2e3a59;
}
.icon-radio:before {
  content: "\ea2f";
  color: #2e3a59;
}
.icon-refresh_02:before {
  content: "\ea30";
  color: #2e3a59;
}
.icon-refresh:before {
  content: "\ea31";
  color: #2e3a59;
}
.icon-settings_filled:before {
  content: "\ea32";
  color: #2e3a59;
}
.icon-settings_future:before {
  content: "\ea33";
  color: #2e3a59;
}
.icon-settings:before {
  content: "\ea34";
  color: #2e3a59;
}
.icon-share_outline:before {
  content: "\ea35";
  color: #2e3a59;
}
.icon-share:before {
  content: "\ea36";
  color: #2e3a59;
}
.icon-slider_01:before {
  content: "\ea37";
  color: #2e3a59;
}
.icon-slider_02:before {
  content: "\ea38";
  color: #2e3a59;
}
.icon-slider_03:before {
  content: "\ea39";
  color: #2e3a59;
}
.icon-stopwatch:before {
  content: "\ea3a";
  color: #2e3a59;
}
.icon-tag-outline:before {
  content: "\ea3b";
  color: #2e3a59;
}
.icon-tag:before {
  content: "\ea3c";
  color: #2e3a59;
}
.icon-trash_empty:before {
  content: "\ea3d";
  color: #2e3a59;
}
.icon-trash_full:before {
  content: "\ea3e";
  color: #2e3a59;
}
.icon-unlink:before {
  content: "\ea3f";
  color: #2e3a59;
}
.icon-error_outline:before {
  content: "\ea40";
  color: #2e3a59;
}
.icon-error:before {
  content: "\ea41";
  color: #2e3a59;
}
.icon-info_circle_outline:before {
  content: "\ea42";
  color: #2e3a59;
}
.icon-info_circle:before {
  content: "\ea43";
  color: #2e3a59;
}
.icon-info_square_outline:before {
  content: "\ea44";
  color: #2e3a59;
}
.icon-info_square:before {
  content: "\ea45";
  color: #2e3a59;
}
.icon-warning_outline:before {
  content: "\ea46";
  color: #2e3a59;
}
.icon-warning:before {
  content: "\ea47";
  color: #2e3a59;
}
.icon-caret_down:before {
  content: "\ea48";
  color: #2e3a59;
}
.icon-caret_left:before {
  content: "\ea49";
  color: #2e3a59;
}
.icon-caret_right:before {
  content: "\ea4a";
  color: #2e3a59;
}
.icon-caret_up:before {
  content: "\ea4b";
  color: #2e3a59;
}
.icon-chevron_big_down:before {
  content: "\ea4c";
  color: #2e3a59;
}
.icon-chevron_big_left:before {
  content: "\ea4d";
  color: #2e3a59;
}
.icon-chevron_big_right:before {
  content: "\ea4e";
  color: #2e3a59;
}
.icon-chevron_big_up:before {
  content: "\ea4f";
  color: #2e3a59;
}
.icon-chevron_down:before {
  content: "\ea50";
  color: #2e3a59;
}
.icon-chevron_duo_down:before {
  content: "\ea51";
  color: #2e3a59;
}
.icon-chevron_duo_left:before {
  content: "\ea52";
  color: #2e3a59;
}
.icon-chevron_duo_right:before {
  content: "\ea53";
  color: #2e3a59;
}
.icon-chevron_duo_up:before {
  content: "\ea54";
  color: #2e3a59;
}
.icon-chevron_left:before {
  content: "\ea55";
  color: #2e3a59;
}
.icon-chevron_right:before {
  content: "\ea56";
  color: #2e3a59;
}
.icon-chevron_up:before {
  content: "\ea57";
  color: #2e3a59;
}
.icon-circle_chevron_down:before {
  content: "\ea58";
  color: #2e3a59;
}
.icon-circle_chevron_left:before {
  content: "\ea59";
  color: #2e3a59;
}
.icon-circle_chevron_right:before {
  content: "\ea5a";
  color: #2e3a59;
}
.icon-circle_chevron_up:before {
  content: "\ea5b";
  color: #2e3a59;
}
.icon-circle_down:before {
  content: "\ea5c";
  color: #2e3a59;
}
.icon-circle_left:before {
  content: "\ea5d";
  color: #2e3a59;
}
.icon-circle_right:before {
  content: "\ea5e";
  color: #2e3a59;
}
.icon-circle_up:before {
  content: "\ea5f";
  color: #2e3a59;
}
.icon-expand:before {
  content: "\ea60";
  color: #2e3a59;
}
.icon-first_page:before {
  content: "\ea61";
  color: #2e3a59;
}
.icon-last_page:before {
  content: "\ea62";
  color: #2e3a59;
}
.icon-long_bottom_down:before {
  content: "\ea63";
  color: #2e3a59;
}
.icon-long_bottom_up:before {
  content: "\ea64";
  color: #2e3a59;
}
.icon-long_down:before {
  content: "\ea65";
  color: #2e3a59;
}
.icon-long_left:before {
  content: "\ea66";
  color: #2e3a59;
}
.icon-long_right:before {
  content: "\ea67";
  color: #2e3a59;
}
.icon-long_up_left:before {
  content: "\ea68";
  color: #2e3a59;
}
.icon-long_up_right:before {
  content: "\ea69";
  color: #2e3a59;
}
.icon-long_up:before {
  content: "\ea6a";
  color: #2e3a59;
}
.icon-send:before {
  content: "\ea6b";
  color: #2e3a59;
}
.icon-short_down:before {
  content: "\ea6c";
  color: #2e3a59;
}
.icon-short_left:before {
  content: "\ea6d";
  color: #2e3a59;
}
.icon-short_right:before {
  content: "\ea6e";
  color: #2e3a59;
}
.icon-short_up:before {
  content: "\ea6f";
  color: #2e3a59;
}
.icon-shrink:before {
  content: "\ea70";
  color: #2e3a59;
}
.icon-small_long_down:before {
  content: "\ea71";
  color: #2e3a59;
}
.icon-small_long_left:before {
  content: "\ea72";
  color: #2e3a59;
}
.icon-small_long_right:before {
  content: "\ea73";
  color: #2e3a59;
}
.icon-small_long_up:before {
  content: "\ea74";
  color: #2e3a59;
}
.icon-sub_left:before {
  content: "\ea75";
  color: #2e3a59;
}
.icon-sub_right:before {
  content: "\ea76";
  color: #2e3a59;
}
.icon-thin_big_down:before {
  content: "\ea77";
  color: #2e3a59;
}
.icon-thin_big_left:before {
  content: "\ea78";
  color: #2e3a59;
}
.icon-thin_big_right:before {
  content: "\ea79";
  color: #2e3a59;
}
.icon-thin_big_up:before {
  content: "\ea7a";
  color: #2e3a59;
}
.icon-thin_long_02_down:before {
  content: "\ea7b";
  color: #2e3a59;
}
.icon-thin_long_02_left:before {
  content: "\ea7c";
  color: #2e3a59;
}
.icon-thin_long_02_right:before {
  content: "\ea7d";
  color: #2e3a59;
}
.icon-thin_long_02_up:before {
  content: "\ea7e";
  color: #2e3a59;
}
.icon-thin_long_down:before {
  content: "\ea7f";
  color: #2e3a59;
}
.icon-thin_long_left:before {
  content: "\ea80";
  color: #2e3a59;
}
.icon-thin_long_right:before {
  content: "\ea81";
  color: #2e3a59;
}
.icon-thin_long_up:before {
  content: "\ea82";
  color: #2e3a59;
}
.icon-unfold_less:before {
  content: "\ea83";
  color: #2e3a59;
}
.icon-unfold_more:before {
  content: "\ea84";
  color: #2e3a59;
}
