@import './_reset.css';

@font-face {
  font-family: "GothamProMedium";
  src: url(~assets/fonts/GothamProMedium/GothamPro-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "GothamProBlack";
  src: url(~assets/fonts/GothamProBlack/GothamPro-Black.woff);
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url(~assets/fonts/GothamPro/GothamPro.woff);
  font-weight: 500;
}

body {
  margin: 0 !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.b-toaster {
  z-index: 3000;
}
