@import './icons.scss';
@import './_reset.css';

@font-face {
  font-family: "GothamProMedium";
  src: url(~assets/fonts/GothamProMedium/GothamPro-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "GothamProBlack";
  src: url(~assets/fonts/GothamProBlack/GothamPro-Black.woff);
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url(~assets/fonts/GothamPro/GothamPro.woff);
  font-weight: 500;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterThin/Inter-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterExtraLight/Inter-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterLight/Inter-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterRegular/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterMedium/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterSemiBold/Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterBold/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterExtraBold/Inter-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-face-name: 'Inter';
  src: url("~assets/fonts/InterBlack/Inter-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: 'icomoon';
  src:  url(~assets/fonts/icomoon.eot);
  src:  url(~assets/fonts/icomoon.eot) format('embedded-opentype'),
  url(~assets/fonts/icomoon.ttf) format('truetype'),
  url(~assets/fonts/icomoon.woff) format('woff'),
  url(~assets/fonts/icomoon.svg) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.b-toaster {
  z-index: 3000;
  max-width: none !important;
}

.custom-toast-width {
  flex-basis: fit-content;
  width: fit-content;
  max-width: 500px;
  min-width: 350px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal
}

.b-toast{
  max-width: none !important;
}

.b-toaster.b-toaster-bottom-right .b-toaster-slot {
  max-width: none !important;
  width: fit-content;
  min-width: 350px;
}

#WEB3_CONNECT_MODAL_ID > div {
  z-index: 1000000;
}
