$black0: #e5e5e5;
$black100: #E6EAEE;
$black200: #CBCED2;
$black300: #B0B3B9;
$black400: #8D96A2;
$black500: #7C838D;
$black600: #4C5767;
$black700: #353C47;
$black800: #1D2127;
$blue: #0083C7;
$green: #00AA5B;
$red: #DF3333;
$yellow: #E8D20D;
$shade700: #2E3A59;
$white: #FFFFFF;
$grey: #E9EFF5;

