@mixin modalKit {
  padding: 10px;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000, .4);
  z-index: 999999;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  &:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: "";
  }
  &__box {
    font-size: 16px;
    white-space: normal;
    word-break: break-word;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    max-width: 500px;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0 85px 147px rgba(10, 27, 61, 0.17), 0 47.1676px 61.4131px rgba(10, 27, 61, 0.078707), 0 26.7219px 32.8344px rgba(10, 27, 61, 0.0629546), 0 14.4955px 18.4067px rgba(10, 27, 61, 0.0598272), 0 6.96225px 9.77565px rgba(10, 27, 61, 0.0584222), 0 2.43911px 4.06787px rgba(10, 27, 61, 0.0492837);
    border-radius: 6px;
  }
  &__text {
  }
  &__content {
    padding: 28px;
  }
  &__header {
    padding: 30px 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: $black800;
    font-weight: 500;
    line-height: 130%;
  }
  &__sub {
    padding-top: 10px;
    color: $black800;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 130%;
  }
  &__desc {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: $black600;
  }
}
